* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 10px 0px;
}

html,
body {
  line-height: 1.5;
  font-family: "Montserrat";
  font-weight: 300;
  color: black;
}

.root {
  min-height: 100%;
}

.header-wrapper,
.main-wrapper,
.images-wrapper,
.form-wrapper {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  font-size: 50px;
  font-weight: 300;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

header {
  background-color: #61dbfb;
  padding: 10px;
}

ul {
  margin-left: 15px;
}

ul li {
  list-style: none;
}

.bold {
  font-weight: bold;
}

.italic {
    font-style: italic;
}

/* Header Styling */

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* Nav Styling */
.nav {
  border:1px solid #a7abb3;
  border-width:1px 0;
  list-style:none;
  text-align:center;
  margin: 5px;
}

.nav-option {
  display:inline-block;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  background-color: transparent;
  text-decoration: none;
}


/* Example Portfolio Styling */
.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-image {
    width: 200px;
    height: auto;
   
}

.text {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}

.skills-list li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.techs {
    background-color:#17c0eb;
    padding: 8px 12px 8px 12px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

.images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.images-list li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.images img {
  width: 150px;
  height: 150px;
}

.form-wrapper {
    background-color: #9dd2df;
    color:black;
    border-radius: 8px;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sign-up-title {
    font-weight: 800;
    font-size: larger;
}

.subscribe-form {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.subscribe-form input {
    margin: 8px;
    padding: 10px;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    font-size: 20px;
}

.subscribe-form input::placeholder {
    margin: 8px;
    font-size: 20px;
}

.subscribe-btn {
    width: 240px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(221, 76, 100);
    border-style: none;
    color: white;
    font-size: 20px; 
    align-self: center;
}

.alert {
  padding: 20px;
  background-color: #36a8f4; /* Red */
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


/* Colour-Generator Styling */

.colour-generator-wrapper {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hexadecimal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.grid-item {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 4px;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 400;
}

.colour-btn {
  margin: 5px;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(230, 156, 46);
  border-style: none;
  color: white;
  font-size:x-large;
}

.colour-input {
margin: 5px;
width: 70px;
height: 50px;
font-size:x-large;
text-align: center;
}

.colour-form {
  margin: 5px;
}

.colour-label {
  margin: 5px;
  font-size: x-large;
}

/* Colour-Coder Styling */

.colour-coder-wrapper {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.colour-coder-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.key {
  text-align: left;
  line-height: 1;
  font-size: larger;
  background-color:rgb(196, 241, 255);
  padding: 10px;
  border-radius: 4px;
}

.key-title {
  font-weight: bold;
}